body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add Cursor */
.cursor {
  cursor: pointer;
}

/* Class: Change incons backgroung color to Primary */
.body {
  color: #0d6efd;
}


thead {
  background-color: #0d6efd;
  color: white;
} 

/* .table{
  border-collapse: separate;
  border-spacing: 0 20px;
} */